.filter{
    margin: 10px;
    float: left;
  }
  .remove-btn{
      padding: 6px;
      margin-left: 2px;
      font-size: 1em;
  }
  .btn-finished{
    clear: both;
  }
  .clear-fix{
    clear: both;
  }
  .filter-form{
      width: 100%;
  }