<div *ngIf="user">
  <h2 class="page-header">{{user.name}}</h2>
  <ul class="list-group">
    <li class="list-group-item">Name: {{user.name}}</li>
    <li class="list-group-item">Email: {{user.email}}<button class="btn btn-default btn-sm pull-right" (click)="emailModal.show()"><span class="glyphicon glyphicon-pencil"></span></button></li>
    <li class="list-group-item">Phone: {{getFormatedPhone()}}<button class="btn btn-default btn-sm pull-right" (click)="phoneModal.show()"><span class="glyphicon glyphicon-pencil"></span></button></li>
    <li class="list-group-item">Date Of Birth: {{getFormatedDOB()}}<button class="btn btn-default btn-sm pull-right" (click)="dOBModal.show()"><span class="glyphicon glyphicon-pencil"></span></button></li>
    <li class="list-group-item">Gender: {{validateService.titleCase(user.gender)}}<button class="btn btn-default btn-sm pull-right" (click)="genderModal.show()"><span class="glyphicon glyphicon-pencil"></span></button></li>
    <li class="list-group-item">Head of Household: {{validateService.titleCase(getFormatedHOH())}}<button class="btn btn-default btn-sm pull-right" (click)="hOHModal.show()"><span class="glyphicon glyphicon-pencil"></span></button></li>
    <li class="list-group-item">Skills: {{getList()}}<button class="btn btn-default btn-sm pull-right" (click)="skillsModal.show()"><span class="glyphicon glyphicon-pencil"></span></button></li>
    <li class="list-group-item"><button class="btn btn-default" (click)="passwordModal.show()">Change Password</button></li>
  </ul>
  <!-- Email Modal -->
  <app-modal #emailModal>
    <div class="app-modal-header">
      Change Email
    </div>
    <div class="app-modal-body">
      <div class="form-group">
        <form (submit)=changeEmail(emailModal)>
          <label>New Email:</label>
          <input type="email" [(ngModel)]="newEmail" name="newEmail" class="form-control">
        </form>
      </div>
    </div>
    <div class="app-modal-footer">
      <button type="button" class="btn btn-default" (click)="emailModal.hide()">Close</button>
      <button type="button" class="btn btn-primary" (click)=changeEmail(emailModal)>Save changes</button>
    </div>
  </app-modal>
  <!-- Phone Modal -->
  <app-modal #phoneModal>
    <div class="app-modal-header">
      Change Phone
    </div>
    <div class="app-modal-body">
      <div class="form-group">
        <form (submit)=changePhone(phoneModal)>
          <label>New Phone:</label>
          <input type="tel" [(ngModel)]="newPhone" name="newPhone" class="form-control">
        </form>
      </div>
    </div>
    <div class="app-modal-footer">
      <button type="button" class="btn btn-default" (click)="phoneModal.hide()">Close</button>
      <button type="button" class="btn btn-primary" (click)=changePhone(phoneModal)>Save changes</button>
    </div>
  </app-modal>
  <!-- dOB Modal -->
  <app-modal #dOBModal>
    <div class="app-modal-header">
      Change Date Of Birth
    </div>
    <div class="app-modal-body">
      <div class="form-group">
        <form (submit)=changeDOB(dOBModal)>
          <label>New Date Of Birth:</label>
          <input type="date" [(ngModel)]="newDOB" name="newDOB" class="form-control">
        </form>
      </div>
    </div>
    <div class="app-modal-footer">
      <button type="button" class="btn btn-default" (click)="dOBModal.hide()">Close</button>
      <button type="button" class="btn btn-primary" (click)=changeDOB(dOBModal)>Save changes</button>
    </div>
  </app-modal>
  <!-- Gender Modal -->
  <app-modal #genderModal>
    <div class="app-modal-header">
      Change Gender
    </div>
    <div class="app-modal-body">
      <div class="form-group">
        <form (submit)=changeGender(genderModal)>
          <label>Gender:  </label>
          <label class="radio-inline"><input type="radio" [(ngModel)]="newGender" name="newGender" value="male">Male</label>
          <label class="radio-inline"><input type="radio" [(ngModel)]="newGender" name="newGender" value="female">Female</label>
        </form>
      </div>
    </div>
    <div class="app-modal-footer">
      <button type="button" class="btn btn-default" (click)="genderModal.hide()">Close</button>
      <button type="button" class="btn btn-primary" (click)=changeGender(genderModal)>Save changes</button>
    </div>
  </app-modal>
  <!-- hOH Modal -->
  <app-modal #hOHModal>
    <div class="app-modal-header">
      Change Head of Household
    </div>
    <div class="app-modal-body">
      <div class="form-group">
        <form (submit)=newHOH(hOHModal)>
          <label>Head Of Household:  </label>
          <label class="radio-inline"><input type="radio" [(ngModel)]="newHOH" name="newHOH" value="true">Yes</label>
          <label class="radio-inline"><input type="radio" [(ngModel)]="newHOH" name="newHOH" value="false">No</label>
        </form>
      </div>
    </div>
    <div class="app-modal-footer">
      <button type="button" class="btn btn-default" (click)="hOHModal.hide()">Close</button>
      <button type="button" class="btn btn-primary" (click)=changeHOH(hOHModal)>Save changes</button>
    </div>
  </app-modal>
  <!-- Skills Modal -->
  <app-modal #skillsModal>
    <div class="app-modal-header">
      Change Skills
    </div>
    <div class="app-modal-body">
      <form (submit)="addSkill(skillsModal)" class="form-inline">
        <div class="form-group">
          <input [(ngModel)]="newSkill" name="newSkill" type="tel" class="form-control" placeholder="Search for skills" list="suggestedSkills"
            (ngModelChange)="skillSearchChange()" autocomplete="off">
          <datalist id="suggestedSkills">
            <option *ngFor="let skillSuggestion of availableSkills" value="{{skillSuggestion}}">
          </datalist>
          <input type="submit" class="btn btn-primary" value="Add" [disabled]="!canSubmit">
        </div>
      </form>
      <h1 class="lable-holder">
        <span class="label label-primary skill pull-left" *ngFor="let skill of user.skills">
                {{skill}}<button (click)="removeSkill(skill)" class="btn btn-primary remove-btn" aria-hidden="true">&times;</button></span>
      </h1>
      <p class="clear-fix"></p>
    </div>
    <div class="app-modal-footer">
      <button type="button" class="btn btn-default" (click)="skillsModal.hide()">Close</button>
      <button type="button" class="btn btn-primary" (click)="skillsModal.hide()">Save changes</button>
    </div>
  </app-modal>
  <!-- Passowrd Modal -->
  <app-modal #passwordModal>
    <div class="app-modal-header">
      Change Passowrd
    </div>
    <div class="app-modal-body">
      <form (submit)=changePassword(passwordModal)>
        <div class="form-group">
          <label>New Password</label>
          <input type="password" [(ngModel)]="newPassword1" name="newPassword1" class="form-control">
        </div>
        <div class="form-group">
          <label>Repeate Password</label>
          <input type="password" [(ngModel)]="newPassword2" name="newPassword2" class="form-control">
        </div>
      </form>
    </div>
    <div class="app-modal-footer">
      <button type="button" class="btn btn-default" (click)="passwordModal.hide()">Close</button>
      <button type="button" class="btn btn-primary" (click)=changePassword(passwordModal)>Save changes</button>
    </div>
  </app-modal>
</div>